<!----Eunju Jo 310170731   main_nav.ejs  Feb 12 -->

<!-- main navigation-->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
        <!--include logo on navbar--> 
        <img src="https://ejoproject.files.wordpress.com/2021/02/smile.png?w=78" width="40" height="40" alt=""> EJ's Page  
       </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <!-- link navgation icons to each page-->
        <% if (title == "Home") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/home"> <i class="fas fa-lg fa-laptop-house"></i> Home</a>
        </li>


        <% if (title == "About") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About</a>
        </li>


        <% if (title == "Projects") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/projects"><i class="fas fa-book"></i> Projects</a>
        </li>

        <% if (title == "Services") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/services"><i class="fas fa-cogs"></i> Services</a>
        </li>

        
        <% if (title == "Connect") { %>
          <li class="nav-item active">
          <% } else { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/connect"> <i class="fas fa-phone-square-alt"></i> Connect</a>
          </li>

      </ul>
    </div>
  </div>
</nav>

