
<!----Eunju Jo 310170731  index.ejs  Feb 12 -->



<!DOCTYPE html>
<html lang="en">
    <% include ./partials/header %>
    <body>
        <% include ./partials/main_nav %>
        <div class="container-fluid bg-3 text-center">    
            
            <div class="row">
              <div class="col-sm-4">
                <h3> Welcome To My </h3>
                <h3> First Website </h3>
              </div>

              <div class="col-sm-4"> 
                <img src="https://dejpknyizje2n.cloudfront.net/svgcustom/clipart/preview/happy-face-191-13183-300x300.png" alt="">
              </div>
              
              <div class="col-sm-4"> 
                <p> Hold on to your dream. </p> 
                <p> You ever know when you might need them :) </p>
            
              </div>
            </div>
          </div>
        <% include ./partials/footer %>
        <% include ./partials/bottom_nav %>
    </body>
</html>