
<!----Eunju Jo 310170731   project.ejs  Feb 12 -->


<!DOCTYPE html>
<html lang="en">
    <% include ./partials/header %>
    <body>
        <% include ./partials/main_nav %>
        <div class="container-fluid bg-3 text-center">    
            
            <div class="row">
              <div class="col-sm-4">
                <h5> Project 1: Effects of Health Region, Gender and Age on Mental Health Analysis Report</h5>
                <p>Researched and analyzed the effects of age, gender, and region on a person’s mental health to examine the associations between the four factors. Conducted Quasi-Poisson regression and contingency table analysis using R. </p>
                <p>      </p>

                <img src="https://ejoproject.files.wordpress.com/2021/02/1-1.jpg?w=480" width="400" height="200" alt="">
              </div>

              <div class="col-sm-4"> 
                <h5> Project 2: Population Dynamics of an Acarine Predator-Prey System Analysis Report</h5>
                <p>Created an accurate model quantifying the interactions between predator, prey, and plant using Python. The quantitative impact of each parameter on Predator-Prey populations were determined through a sensitivity analysis. </p>
                <p>      </p>
                <img src="https://ejoproject.files.wordpress.com/2021/02/2-1.jpg?w=658" width="400" height="400" alt="">
              </div>

              <div class="col-sm-4"> 
                <h5> Project 3: Software System Degisn for Virtual Healthcare (in progress) </h5>
                <p>Preparing a sofrware requirements specification to devlop software design for e-healthcare system.  </p>    
                <p>      </p>
                <img src="https://ejoproject.files.wordpress.com/2021/02/3-1.jpg?w=556"  width="400" height="400" alt="">
            
              </div>
            </div>
          </div>
        <% include ./partials/footer %>
        <% include ./partials/bottom_nav %>
    </body>
</html>