<!----Eunju Jo 310170731   services.ejs  Feb 12 -->


<!DOCTYPE html>
<html lang="en">
    <% include ./partials/header %>
    <body>
        <% include ./partials/main_nav %>
        <div class="container-fluid bg-3 text-center">    
            
            <div class="row">
              <div class="col-sm-4">
                <img src="https://static1.makeuseofimages.com/wp-content/uploads/2018/02/data-analysis-importance.jpg?q=50&fit=contain&w=750&h=375&dpr=1.5" width="400" height="200" alt="">
              </div>

              <div class="col-sm-4"> 
                <h3> My Skills </h3>
                <p>Data Analysis: data manipulation, visualization, mining, and cleaning </p>
                <p>Programming language: Python and C++</p>
                <p>Other software: R and Matlab </p>
                
              </div>
              
              <div class="col-sm-4"> 
            
                <img src="https://d2mkcg26uvg1cz.cloudfront.net/wp-content/uploads/Charts-graphs-1545x1030.jpg"  width="400" height="200" alt="">
            
              </div>
            </div>
          </div>
        <% include ./partials/footer %>
        <% include ./partials/bottom_nav %>
    </body>
</html>